html, body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #42539E;
}
.chat-wrapper {
  padding: 5px 30px;
}
.chat-wrapper .header {
  color: #fff;
}
.transcript-form {
  padding: 10px 0 30px 0;
}
.transcript-form input {
  margin-right: 15px;
}
.messages-wrapper {
  margin: 20px 0;
  background-color: #fff;
}
.chat-message {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
.chat-message .display-name {
  display: inline-block;
  width: 150px;
  padding:0 10px 0 0;
}
.chat-message .message-edited {
  display: inline-block;
  padding: 0 7px;
}